<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" href="/css/reset.css">
	<!-- CSS reset -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Resource style -->
	<link rel="stylesheet" href="/css/demo.css">
	<!-- Demo style -->
</head>

<body>
	<header>
		<div class="cd-nugget-info">
			<a href="/">
				<span>
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve">
						<style type="text/css">
							.cd-nugget-info-arrow{fill:#383838;}
						</style>
						<polygon class="cd-nugget-info-arrow" points="15,7 4.4,7 8.4,3 7,1.6 0.6,8 0.6,8 0.6,8 7,14.4 8.4,13 4.4,9 15,9 "/>
					</svg>
				</span>
				Go back to Home page
			</a>
			<a href="#" style="padding-left: 30px;" id="signout">
				Sign out
			</a>
			<a href="/myItems" style="padding-left: 30px;" id="myItemsPage">
				My items
			</a>
		</div>
		<!-- cd-nugget-info -->
		<h1>Farmer name , img and info</h1>
	</header>
	<div class="container" id='success-message-container' , style="padding-top:30px"></div>
	<section class="cd-timeline js-cd-timeline">
		<div class="cd-timeline__container">
			<% txDataList.forEach(function(item){ if(item.event && item.event.title){%>
				<div class="cd-timeline__block js-cd-block">
					<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
						<img src="/img/cd-icon-picture.svg" alt="Picture">
					</div>
					<!-- cd-timeline__img -->

					<div class="cd-timeline__content js-cd-content">
						<h2>
							<%= item.event.title %>
						</h2>
						<p><b>Location: </b>
							<%= item.event.location %>
						</p>
						<p><b>Description: </b>
							<%= item.event.description %>
						</p>
						<% if(item.event.transfer){ %>
							<p><b>Owner requests a confirmation of product arrival and transfer of ownership</b></p>
							<a href="#0" class="cd-timeline__read-more info" id="confirm">Confirm</a>
							<a href="#0" class="cd-timeline__read-more" id="decline">Decline</a>
							<%}%>

								<span class="cd-timeline__date"><%= item.event.date %></span>
					</div>
					<!-- cd-timeline__content -->
				</div>
				<!-- cd-timeline__block -->
				<% }}) %>
		</div>
	</section>
	<!-- cd-timeline -->
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/custom-bundle.js"></script>
	<script src="/js/session.js"></script>
	<!-- Resource JavaScript -->
	<script>
		$(function () {
			var url = window.location.pathname;
			var urlItems = url.split('/');
			var ownerPublicKey = urlItems[urlItems.length - 2];
			var id = urlItems[urlItems.length - 1];
			function getDate() {
				var today = new Date();
				var dd = today.getDate();
				var mm = today.getMonth() + 1; //January is 0!

				var yyyy = today.getFullYear();
				if (dd < 10) {
					dd = '0' + dd;
				}
				if (mm < 10) {
					mm = '0' + mm;
				}
				return mm + '/' + dd + '/' + yyyy;
			}
			function addSuccessMessage(txHash) {
				var div = document.createElement('div');
				div.setAttribute('class', 'class alert alert-warning alert-dismissable');
				div.setAttribute('role', 'alert');
				div.setAttribute('id', txHash);
				div.innerHTML = `<div class="infoMsg" id="infoMsg">
  					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  					Your request has been submitted. Please wait for confirmation.
					</div>`;
				document.getElementById('success-message-container').appendChild(div);
			}
			function updateSuccessMessage(txHash, status) {
				var successMessageText = $("#infoMsg");
				successMessageText.removeClass('infoMsg');

				if (status == 1) {
					successMessageText.addClass('successMsg');
					successMessageText.html(`<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  					Your request has been mined and updated successfully. Please reload to ses changes`);
				} else if (status == 0) {
					successMessageText.addClass('dangerMsg');
					successMessageText.html(`<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  					Your request has failed. Please try again later`);
				}
			}
			function waitForReceipt(hash, cb) {
				web3.eth.getTransactionReceipt(hash, function (err, receipt) {
					if (err) {
						return;
					}

					if (receipt && receipt.status) {
						// Transaction went through
						if (cb) {
							cb(receipt);
						}
					} else {
						// Try again in 1 second
						window.setTimeout(function () {
							waitForReceipt(hash, cb);
						}, 1000);
					}
				});
			}
			$("#confirm").click(function (e) {
				event.preventDefault();
				var data = {
					title: "Arrival confirmed",
					date: getDate(),
					location: "7Gate academy",
					description: "Product arrival has been confirmed"
				}
				var request = { publicKey: id, data: data };
				smartContract.confirmTransferItem(ownerPublicKey, web3.eth.accounts[0], id, { from: web3.eth.accounts[0] })
					.then(function (txHash) {
						console.log('Transaction sent')
						console.dir(txHash)
						addSuccessMessage(txHash);
						waitForReceipt(txHash, function (receipt) {
							if (!data)
								return;
							updateSuccessMessage(txHash, receipt.status);
						});
					})
				$.post("/form/submitConfirm", request)
					.done(function (data) {

					});

			})
		})
	</script>
</body>

</html>