<!DOCTYPE html>
<html>

<head>
	<title>
		<%= title %>
	</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free Bootstrap Theme by uicookies.com">
	<meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

	<link rel="stylesheet" href="/css/reset.css">
	<!-- CSS reset -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- Resource style -->
	<link rel="stylesheet" href="/css/demo.css">
	<!-- Demo style -->

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
	<link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Open+Sans:300,400" rel="stylesheet">
	<link rel="stylesheet" href="/css/custom.css">
	<link rel="stylesheet" href="/css/style2.min.css">

</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top p-2">
		<div class="container">
			<a href="/" class="navbar-brand ">Organify</a>
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a href="/" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a href="/myItems" class="nav-link" id="myItemsPage">My items</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link" id="signout">Log out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- SHOWCASE SLIDER -->
	<section id="showcase" class="mt-5">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner" id="top-link">
				<div class="carousel-item carousel-image-1 active">
					<div class="container">
						<div class="carousel-caption d-none d-sm-block mb-5 p-3 mb-2 bg-light text-dark rounded opacity">
							<h1 class="display-3">Organify</h1>
							<p class="lead">Our goal is to bring transparency your table by
								giving you access to all the information
								about your organic food.</p>
							<input id="getstarted" type="button" value="Ask Us About Your Food" class="btn btn-danger btn-lg">
						</div>
					</div>
				</div>

				<div class="carousel-item carousel-image-2">
					<div class="container">
						<div class="carousel-caption d-none d-sm-block mb-5 p-3 mb-2 bg-light text-dark rounded opacity">
							<h1 class="display-3">Pasture to Plate</h1>
							<p class="lead">Our cattle are winter fed hay for an average of 60 to
								90 days; the remainder of their time is spent grazing residual forage from the previous year, then lush,
								irrigated pastures and approximately 160,000 hectares of range land, which we lease from the crown. All of our
								animals are free of any kind of pharmaceuticals like antibiotics, growth promoting implants, parasite
								controlling chemicals and vaccinations.
								It is clean water and forage, with sea salt being the only supplement</p>
							<a href="http://www.pasturetoplate.ca/" class="btn btn-primary btn-lg" target="_blank">Learn More</a>
						</div>
					</div>
				</div>
			</div>

			<a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
				<span class="carousel-control-prev-icon"></span>
			</a>

			<a href="#myCarousel" data-slide="next" class="carousel-control-next">
				<span class="carousel-control-next-icon"></span>
			</a>
		</div>
	</section>

	<!-- success message -->
	<div class="container" id='success-message-container' , style="padding-top:30px"></div>
	<section class="cd-timeline js-cd-timeline">
		<div class="cd-timeline__container">
			<% txDataList.forEach(function(item){ if(item.event && item.event.title){%>
			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
					<img src="/img/cd-icon-picture.svg" alt="Picture">
				</div>
				<!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h2>
						<%= item.event.title %>
					</h2>
					<p><b>Location: </b>
						<%= item.event.location %>
					</p>
					<p class="clampedLine" data-full-desc="<%= item.event.description %>"><b>Description: </b>
						<%= item.event.description %>
					</p>
					<a href="#0" class="cd-timeline__read-more info readMore">Read More</a>

					<span class="cd-timeline__date">
						<%= item.event.date %></span>
				</div>
				<!-- cd-timeline__content -->
			</div>
			<!-- cd-timeline__block -->
			<% }}) %>
		</div>
	</section>
	<!-- cd-timeline -->
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

	<script src="/js/main.js"></script>
	<script src="/js/session.js"></script>
	<script src="/js/clamp.min.js"></script>
	<script src="/js/analytics.min.js"></script>
	<!-- Resource JavaScript -->
	<!-- start boot code -->
	<script src="https://lex-web-ui-codebuilddeploy-oxeaege6g-webappbucket-l80ni788od5h.s3.amazonaws.com/lex-web-ui-loader.min.js"></script>
	<script>
		var loaderOpts = {
			baseUrl: 'https://lex-web-ui-codebuilddeploy-oxeaege6g-webappbucket-l80ni788od5h.s3.amazonaws.com/'
		};
		var loader = new ChatBotUiLoader.IframeLoader(loaderOpts);
		loader.load()
			.catch(function (error) {
				console.error(error);
			});
	</script>
	<script>
		$(function () {
			var url = window.location.pathname;
			var urlItems = url.split('/');
			var ownerPublicKey = urlItems[urlItems.length - 2];
			var id = urlItems[urlItems.length - 1];

			function init() {

				$('.readMore').click(function (e) {
					var target = $(e.target);
					target.css({
						'display': 'none',
					})
					var targetData = target.siblings('.clampedLine');
					targetData.attr('style', null);
				})
				/*$('#confirm').click(function (e) {
				event.preventDefault();
				var data = {
					title: "Arrival confirmed",
					date: getDate(),
					location: "7Gate academy",
					description: "Product arrival has been confirmed",
					receipient: ""
				}
				var request = {
					publicKey: id,
					data: data
				};
				smartContract.confirmTransferItem(ownerPublicKey, web3.eth.accounts[0], id, {
						from: web3.eth.accounts[0]
					})
					.then(function (txHash) {
						console.log('Transaction sent')
						console.dir(txHash)
						addSuccessMessage(txHash);
						waitForReceipt(txHash, function (receipt) {
							if (!data)
								return;
							updateSuccessMessage(txHash, receipt.status);
						});
					})
				$.post("/form/submitConfirm", request)
					.done(function (data) {

					});

			});*/
			}

			function getDate() {
				var today = new Date();
				var dd = today.getDate();
				var mm = today.getMonth() + 1; //January is 0!

				var yyyy = today.getFullYear();
				if (dd < 10) {
					dd = '0' + dd;
				}
				if (mm < 10) {
					mm = '0' + mm;
				}
				return mm + '/' + dd + '/' + yyyy;
			}

			function addSuccessMessage(txHash) {
				var div = document.createElement('div');
				div.setAttribute('class', 'class alert alert-warning alert-dismissable');
				div.setAttribute('role', 'alert');
				div.setAttribute('id', txHash);
				div.innerHTML =
					`<div class="infoMsg" id="infoMsg">
  					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  					Your request has been submitted. Please wait for confirmation.
					</div>`;
				document.getElementById('success-message-container').appendChild(div);
			}

			function updateSuccessMessage(txHash, status) {
				var successMessageText = $("#infoMsg");
				successMessageText.removeClass('infoMsg');

				if (status == 1) {
					successMessageText.addClass('successMsg');
					successMessageText.html(
						`<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  					Your request has been mined and updated successfully. Please reload to ses changes`
					);
				} else if (status == 0) {
					successMessageText.addClass('dangerMsg');
					successMessageText.html(
						`<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  					Your request has failed. Please try again later`
					);
				}
			}

			function waitForReceipt(hash, cb) {
				web3.eth.getTransactionReceipt(hash, function (err, receipt) {
					if (err) {
						return;
					}

					if (receipt && receipt.status) {
						// Transaction went through
						if (cb) {
							cb(receipt);
						}
					} else {
						// Try again in 1 second
						window.setTimeout(function () {
							waitForReceipt(hash, cb);
						}, 1000);
					}
				});
			}
			init();
		})
	</script>
</body>

</html>